@import url("//fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", serif;
  margin: 0;
  overflow: hidden;
}

.jumbo-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, 1fr);
}

.container {
  grid-column: 3/5;
  text-align: center;
}

#insert {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.key {
  padding: 1rem 0;
  border: thin solid #000;
  margin: 1rem;
  min-width: 200px;
  position: relative;
}

#insert small {
  position: absolute;
  display: block;
  top: -1.5rem;
  width: 100%;
}
