@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

* {
  box-sizing: border-box;
}

.jumbo-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
  width: 300px;
}

.container .input {
  padding: 1rem 1rem;
  border: thin solid #000;
  width: 50px;
  transition: width 0.4s ease;
}

.container .btn {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  background: #fff;
  border: thin solid transparent;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s ease;
}

.input.active {
  width: 100%;
}

.input:focus,
.btn:focus {
  outline: none;
}

.input.active ~ .btn {
  left: 90%;
}
