@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

.jumbo-container {
  position: relative;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.nav-btn-container {
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 1000;
  transition: transform 0.5s linear;
}

.nav-btn-container .btn-container {
  height: 200px;
  width: 200px;
  background: #000;
  border-radius: 50%;
  position: relative;
}

.nav-btn-container button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 100px;
  border: 0;
  color: #fff;
  background: transparent;
  font-size: 2rem;
}

.nav-btn-container button:focus {
  outline: none;
}

button#open-btn {
  left: 60%;
}

button#close-btn {
  left: 30%;
  transform: rotate(-20deg);
}

.content-container {
  background-color: whitesmoke;
  color: #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.jumbo-container.show-nav {
  transform: rotate(-20deg);
}

.jumbo-container.show-nav .nav-btn-container {
  transform: rotate(-50deg);
}

.jumbo-container.show-nav + .nav-container ul li {
  transform: translateX(0);
  transition-delay: 0.5s;
}

.container {
  grid-column: 2/6;
  text-align: justify;
}

.container img {
  padding: 1rem;
  max-width: 100%;
  border: thin solid #000;
}

.nav-container {
  position: fixed;
  bottom: 2rem;
  left: 0;
  color: #fff;
}

.nav-container ul {
  padding: 0;
}

.nav-container ul li {
  list-style-type: none;
  margin: 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

.nav-container ul li + li {
  margin: 1rem 2.5rem;
  transform: translateX(-150%);
}

.nav-container li + li + li {
  margin: 1rem 3rem;
  transform: translateX(-200%);
}

.nav-container span {
  padding: 0 1rem;
}
