@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Mulish", "serif";
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.panel {
  height: 70vh;
  margin: 1rem;
  border-radius: 50px;
  flex: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: flex 0.3s ease-in;
}
.img-caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active > .img-caption {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.panel:nth-of-type(1) {
  background-image: url("//unsplash.it/id/200/1080");
}
.panel:nth-of-type(2) {
  background-image: url("//unsplash.it/id/102/1080");
}
.panel:nth-of-type(3) {
  background-image: url("//unsplash.it/id/101/1080");
}
.panel:nth-of-type(4) {
  background-image: url("//unsplash.it/id/103/1080");
}
.panel:nth-of-type(5) {
  background-image: url("//unsplash.it/id/104/1080");
}

@media (max-width: 700px) {
  body {
    overflow: visible;
  }
  .container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .panel {
    height: 5vh;
  }
  .panel.active {
    height: 50vh;
    transition: height 0.3s ease-in;
  }
}
