* {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.img-bg {
  display: absolute;
  background: no-repeat center/cover url("//unsplash.it/1080");
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
}
