@import url("//fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  margin: 0;
  overflow: hidden;
}

.jumbo-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, 1fr);
}

.container {
  grid-column: 2/6;
  grid-row: 3/5;
  justify-content: center;
}

#btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  padding: 1rem 3rem;
  margin: 1rem 0;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.98);
}
