@import url("//fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", serif;
  margin: 0;
  overflow: hidden;
}

.jumbo-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.container {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 1);
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
}

.container form {
  width: 70%;
}

.container h1 {
  margin: 0 1rem;
}

.form-control {
  margin: 1rem 0;
  position: relative;
}

.form-control input {
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: thin solid #fff;
  padding: 1rem 0;
  color: #fff;
  margin: 2rem 0;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: gray;
}

.btn {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.text a {
  text-decoration: none;
  color: gray;
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: gray;
  transform: translateY(-2rem);
}
