@import url("//fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background: #000;
}

.form-control {
  padding: 0.5rem;
  border: 0;
  border-radius: 4px;
  background: gray;
}

.form-control::placeholder {
  color: #fff;
}

.form-control:focus {
  background: #fff;
  outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 200px;
  margin: 0.5rem;
  border: thin solid #000;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.movie-image img {
  width: 100%;
}

.movie-title h2 {
  margin: 0;
  font-size: small;
  width: 50%;
}

.movie-title {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.movie-title span {
  display: block;
  padding: 0.5rem;
  border: thin solid #000;
}

.movie-title span.green {
  border: thin solid green;
}

.movie-title span.red {
  border: thin solid red;
}

.movie-title span.orange {
  border: thin solid orange;
}

.movie-overview {
  position: absolute;
  text-align: justify;
  padding: 0.5rem;
  background: #000;
  color: #fff;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.4s ease;
}

.movie-card:hover .movie-overview {
  transform: translateY(0%);
}
