@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  margin: 0;
  font-family: "Muli", serif;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  position: relative;
}

.step {
  padding: 1rem;
  background: #fff;
  border: 1px solid gray;
}

.step.active {
  background: #000;
  color: #fff;
}

.progress {
  content: "";
  height: 5px;
  background: #000;
  width: 0%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateZ(-50%);
  transition: 0.5s ease;
  z-index: -1;
}

.progress-container::before {
  content: "";
  height: 5px;
  background: gray;
  width: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateZ(-50%);
  z-index: -1;
}

.button-container button {
  margin: 3rem 1rem;
  padding: 1rem 2rem;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background: #fff;
  color: #000;
  transition: 0.5s ease;
}

.btn:disabled {
  background: gray;
  color: #fff;
  cursor: not-allowed;
}
